<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Apply</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>alias20.fakesignalbar</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>action</key>
			<string>respring</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SIM 1</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>alias20.fakesignalbar</string>
			<key>key</key>
			<string>enabledSim1Carrier</string>
			<key>label</key>
			<string>Override Carrier</string>
			<key>PostNotification</key>
			<string>alias20.fakesignalbar</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Carrier Name</string>
			<key>key</key>
			<string>sim1Carrier</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>alias20.fakesignalbar</string>
			<key>keyboard</key>
			<string></string>
			<key>noAutoCorrect</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>alias20.fakesignalbar</string>
			<key>key</key>
			<string>enabledSim1Label</string>
			<key>label</key>
			<string>Override Label in CC</string>
			<key>PostNotification</key>
			<string>alias20.fakesignalbar</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Label in Control Center</string>
			<key>key</key>
			<string>sim1Label</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>alias20.fakesignalbar</string>
			<key>keyboard</key>
			<string></string>
			<key>noAutoCorrect</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>alias20.fakesignalbar</string>
			<key>key</key>
			<string>enabledSim1Strength</string>
			<key>label</key>
			<string>Override Signal Strength</string>
			<key>PostNotification</key>
			<string>alias20.fakesignalbar</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>4</integer>
			<key>defaults</key>
			<string>alias20.fakesignalbar</string>
			<key>key</key>
			<string>sim1Strength</string>
			<key>isSegmented</key>
			<true/>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>alias20.fakesignalbar</string>
			<key>key</key>
			<string>enabledSim1CelluarType</string>
			<key>label</key>
			<string>Override Celluar Type</string>
			<key>PostNotification</key>
			<string>alias20.fakesignalbar</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>6</integer>
			<key>defaults</key>
			<string>alias20.fakesignalbar</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>sim1CelluarType</string>
			<key>label</key>
			<string>Connection Type</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
				<integer>11</integer>
				<integer>12</integer>
				<integer>13</integer>
				<integer>14</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Blank</string>
				<string>1x</string>
				<string>GPRS</string>
				<string>E</string>
				<string>3G</string>
				<string>4G</string>
				<string>LTE</string>
				<string>LTE-A</string>
				<string>LTE+</string>
				<string>5Ge</string>
				<string>5G</string>
				<string>5G+</string>
				<string>5Guw</string>
				<string>5Guc</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SIM 2 (eSIM)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>alias20.fakesignalbar</string>
			<key>key</key>
			<string>enabledActivatedSim2</string>
			<key>label</key>
			<string>Activate Fake SIM2</string>
			<key>PostNotification</key>
			<string>alias20.fakesignalbar</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>alias20.fakesignalbar</string>
			<key>key</key>
			<string>enabledSim2Carrier</string>
			<key>label</key>
			<string>Override Carrier</string>
			<key>PostNotification</key>
			<string>alias20.fakesignalbar</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Carrier Name</string>
			<key>key</key>
			<string>sim2Carrier</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>alias20.fakesignalbar</string>
			<key>keyboard</key>
			<string></string>
			<key>noAutoCorrect</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>alias20.fakesignalbar</string>
			<key>key</key>
			<string>enabledSim2Label</string>
			<key>label</key>
			<string>Override Label in CC</string>
			<key>PostNotification</key>
			<string>alias20.fakesignalbar</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Label in Control Center</string>
			<key>key</key>
			<string>sim2Label</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>alias20.fakesignalbar</string>
			<key>keyboard</key>
			<string></string>
			<key>noAutoCorrect</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>alias20.fakesignalbar</string>
			<key>key</key>
			<string>enabledSim2Strength</string>
			<key>label</key>
			<string>Override Signal Strength</string>
			<key>PostNotification</key>
			<string>alias20.fakesignalbar</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>4</integer>
			<key>defaults</key>
			<string>alias20.fakesignalbar</string>
			<key>key</key>
			<string>sim2Strength</string>
			<key>isSegmented</key>
			<true/>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>alias20.fakesignalbar</string>
			<key>key</key>
			<string>enabledSim2CelluarType</string>
			<key>label</key>
			<string>Override Celluar Type</string>
			<key>PostNotification</key>
			<string>alias20.fakesignalbar</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>6</integer>
			<key>defaults</key>
			<string>alias20.fakesignalbar</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>sim2CelluarType</string>
			<key>label</key>
			<string>Connection Type</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
				<integer>11</integer>
				<integer>12</integer>
				<integer>13</integer>
				<integer>14</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Blank</string>
				<string>1x</string>
				<string>GPRS</string>
				<string>E</string>
				<string>3G</string>
				<string>4G</string>
				<string>LTE</string>
				<string>LTE-A</string>
				<string>LTE+</string>
				<string>5Ge</string>
				<string>5G</string>
				<string>5G+</string>
				<string>5Guw</string>
				<string>5Guc</string>
			</array>
		</dict>
	</array>
	<key>title</key>
	<string>FakeSignalBar</string>
</dict>
</plist>
